@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido!</h1>
    <p class="lead">Conoce mas de nuestra aplicacion Ven Espiritu Santo, Disponible en iOs y Android</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Visitar Pagina &raquo;</a></p>
</div>

